/* :root {
    --bulma-primary-h: 184deg;
    --bulma-primary-s: 94%;
    --bulma-primary-l: 58%;
    --bulma-link-h: 184deg;
    --bulma-link-s: 94%;
    --bulma-link-l: 58%;
    --bulma-info-h: 190deg;
    --bulma-success-h: 163deg;
    --bulma-success-l: 68%;
    --bulma-warning-l: 89%;
    --bulma-danger-h: 331deg;
    --bulma-danger-l: 75%;
} */

/* .btn {
    height: 100px;
    width: 100px;
    background-color: #40fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icon {
    width: 50px;
} */